[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-cord = {git = "https://github.com/Pycord-Development/pycord"}
captcha = "*"
jishaku = "*"
mongoengine = "*"
youtube-dl = "*"
pymongo = {extras = ["srv"], version = "*"}
aiofiles = "*"
psutil = "*"
autopep8 = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
